:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.cube {
  display: flex;
  width: 15px;
  height: 15px;
  background: #1a1a1a;
  align-items: center;
  justify-content: center;
  transition: all 1ms ease-out;
  position: relative;
  border-radius: 2px;
  margin: 2px;
  z-index: 1;
}

.letter {
  font: optional;
}

.cube:hover {
  border: 1px solid #fefefe;
  background: #5a645c;
  transform: scale(1.25);
  cursor: pointer;
  z-index: 2;
}



.cube:not(:hover) {
  transition: all 1ms ease-out;
}

.grid {
  justify-content: flex-start;
  background-color: #2d333b;
  padding: 20px;
  border-radius: 6px;
}

.day-label {
  color: #adbac7;
  font-size: 12px;
  padding: 4px;
  text-align: left;
}

.month-label {
  color: #adbac7;
  font-size: 12px;
  padding: 4px;
  text-align: center;
}

.legend-text {
  color: #adbac7;
  font-size: 12px;
  padding: 4px;
}

.coll {
  fill: #1a1a1a;
}